@import url('https://googleapis.com');


body {
  font-family: 'Luckiest Guy', cursive, sans-serif;
}

body {
    text-align: center;
    background-color: rgb(244, 80, 80);
}

a:link {
    color: cyan;
}

a:hover {
    color: yellow;
}

img {
    max-height: 240px;
    max-width: 600px;
    object-fit: cover;
    object-position: center;
}

.navlinks {
    text-align: left;
}

li, p {
    text-align: left;
}